@import "./../colors";

.title {
		
	color: $white;

	h1 {
		text-transform: uppercase;
		text-align: center;
	}

	h2 {
		font-size: 36px;
		font-weight: 500;
		font-family: Aleo;
		color: $white;
		line-height: 0.72;
		
	}
}
